* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Noto Serif", serif;
}

.custom-shape-divider-bottom-1717943341 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717943341 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
}

.custom-shape-divider-bottom-1717943341 .shape-fill {
  fill: #ffffff;
}

/* Layer 2 */
.custom-shape-divider-top-1717948740 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1717948740 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 120px;
}

.custom-shape-divider-top-1717948740 .shape-fill {
  fill: #ffffff;
}
